<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./images/favicon/icon.png" sizes="512x512" />
    <title>Restaurant Apps</title>
  </head>
  <body>
    <a href="#mainContent" class="skip-link">Skip to content</a>
    <header class="header">
      <img
        src="./images/favicon/icon.png"
        alt="Lapua Restaurant Catalogue"
        width="150"
        tabindex="0"
        />
        <ul class="nav-list">
          <li class="nav-item"><a href="index.html">Home</a></li>
          <li class="nav-item"><a href="#">Favorite</a></li>
          <li class="nav-item"><a href="https://github.com/abdinaavial17" target="_blank">About Us</a></li>
        </ul>
      </header>
      <center>
        <a id="menu" class="header-menu" tabindex="0">☰</a>
      </center>
      <nav class="navbar" id="navbar">
        <ul class="offcanvas" id="offcanvas">
          <li class="offcanvas-item"><a href="index.html">Home</a></li>
          <li class="offcanvas-item"><a href="#">Favorite</a></li>
          <li class="offcanvas-item"><a href="https://github.com/abdinaavial17" target="_blank">About Us</a></li>
        </ul>
      </nav>
    <div class="hero">
      <div class="hero-inner">
        <center>
          <h1 class="hero-title" tabindex="0">Selamat datang di Lapua restaurant catalogue</h1>
          <p class="hero-tagline" tabindex="0">Temukan rekomendasi restoran terbaik di sini beserta dengan rating dan deskripsinya. Tentukan restoran terbaik kamu!</p>
        </center>
      </div>
    </div>
    <main id="mainContent">
      <h1 align="center" style="color: #5F8670;" tabindex="0">Explore Restaurant</h1>
      <center>
        <form action="#" class="form-search" tabindex="0">
          <input type="search" class="search" placeholder="Temukan restoranmu di sini!">
          <button class="button-search">Cari</button>
        </form>
      </center>
      <div class="restoran" id="restoran">
        
      </div>
    </main>
    <footer>
      <div class="footer">
        <center>
          <img src="./images/favicon/icon.png" alt="Lapua restaurant catalogue" width="150" tabindex="0">
          <p tabindex="0">Copyright © 2020 - <b>Abdi Naavi'al Umam Suleman</b></p>
        </center>
      </div>
    </footer>
  </body>
</html>
